.flex-container
{
    display: flex;
    background-color:rebeccapurple;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-container >div
{
    background-color: aqua;
    margin: 10px;
    padding: 20px;
    width: 20px;
    font-size: 30px;
}
