.flex-container
{
    display: flex;
    background-color: rebeccapurple;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-container>div
{
    background-color: brown;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}